<div class='raw' id='<%= dom_id(question) %>' >
  <div class='col-md-1'>
    <% if user_signed_in? %>
      <h3><%= vote_for(question) %><h3>
    <% end %>
  </div>
  <div class='col-md-1'>
    <h3 class="value"><%= question.votes.sum(:score) %></h3>
  </div>
  <div class='col-md-10'>
    <hr>
    <p> 
     <%= avatar(question.user) %>
    </p> 
    <h4><%= link_to question.title, question %></h4>
    <p class="text-muted"><%= truncate(question.content, length: 185) { link_to "Continue", question } %></p>
    <p> 
     <%= raw question.tag_list.map { |t| link_to t, tag_path(t), class: "label label-primary" }.join(' ') %>
    </p> 
    <br/>
  </div>
</div>