<div id="tag_cloud">
  <% tag_cloud Question.tag_counts, %w[s m l] do |tag, css_class| %>
    <%= link_to tag.name, tag_path(tag.name), class: css_class %>
  <% end %>
</div>
<div class='raw' id='<%= dom_id(question) %>' >
  <div class='col-md-10'>
    <h4><%= link_to question.title, question %></h4>
    <p class="text-muted"><%= truncate(question.content, length: 185) { link_to "Continue", question } %></p>
    <p> 
    Tags: <%= raw question.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
    </p> 
  </div>
</div>