<ul class="nav nav-pills pull-left">
  <li class="<%= current_page?(root_path) ? 'active' : '' %>"><%= link_to 'Home', root_path %></li>
  <li class="<%= current_page?(top_questions_path) ? 'active' : '' %>"><%= link_to 'Top 10', top_questions_path %></li>
  <li class="<%= current_page?('/aaaaaaaa') ? 'active' : '' %>"><%= link_to 'Recent', root_path %></li>
  <li class="<%= current_page?('/aaaaaaaa') ? 'active' : '' %>"><%= link_to 'Unanswered', root_path %></li>
  <li class="<%= current_page?(users_path) ? 'active' : '' %>"><%= link_to 'Users', users_path %></li>
  <li class="<%= current_page?(tags_path) ? 'active' : '' %>"><%= link_to 'Tags', tags_path %></li>
</ul>     
<ul class="nav nav-pills pull-right">
  <% if user_signed_in? %>
    <li class="active"><%= link_to("приветствуем, #{current_user.email}", current_user) %></li>
    <li><%= link_to('Выйти', destroy_user_session_path, method: :delete) %></li>
  <% else %>
    <li><%= link_to('Войти', new_user_session_path) %></li>
    <li><%= link_to('Зарегистрироваться', new_user_registration_path) %></li>
  <% end %>
</ul>