<!DOCTYPE html>
<html>
<head>
  <title>Tnqa</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="header">
      <h3>Question && Answers</h3>
      <%= render partial: "layouts/navigation" %>
      <div class="clearfix">
        <% if notice %><p class="alert alert-success"><%= notice %></p> <% end %>
        <% if alert %><p class="alert alert-danger"><%= alert %></p><% end %>
      </div>
    </div>
    <div class="row marketing"><%= yield %></div>
    <div class="footer">
      <div id="tag_cloud">
        <% tag_cloud Question.tag_counts, %w[s m l] do |tag, css_class| %>
          <%= link_to tag.name, tag_path(tag.name), class: css_class %>
        <% end %>
      </div>
    </div>
  </div> <!-- /container -->
</body>
</html>
